In [1]:
#주어진 문자열(공백 없이 쉼표로 구분되어 있음)을 가지고 아래 문제에 대한 프로그램을 작성하세요.

#이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌

#1.김씨와 이씨는 각각 몇 명 인가요?
#2."이재영"이란 이름이 몇 번 반복되나요?
#3.중복을 제거한 이름을 출력하세요.
#4.중복을 제거한 이름을 오름차순으로 정렬하여 출력하세요.

String_all="이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌"

In [5]:
list_all = String_all.split(",")
#1.김씨와 이씨는 각각 몇 명 인가요?
a=[]
for i in list_all:
    a.append(i[0])
print("김씨:",a.count("김"),"명")
print("이씨:",a.count("이"),"명")

김씨: 2 명
이씨: 6 명

In [7]:
#2."이재영"이란 이름이 몇 번 반복되나요?
print("'이재영'이란 이름은 ",list_all.count("이재영"),"번 반복됩니다.")

'이재영'이란 이름은  3 번 반복됩니다.

In [11]:
#3.중복을 제거한 이름을 출력하세요.
list_remove = list(set(list_all))
print(list_remove)

['이성연', '강상희', '박민호', '권종표', '김지완', '송정환', '전경헌', '박영서', '이유덕', '최승혁', '김재성', '이재영']

In [12]:
#4.중복을 제거한 이름을 오름차순으로 정렬하여 출력하세요.
list_remove.sort()
print(list_remove)

['강상희', '권종표', '김재성', '김지완', '박민호', '박영서', '송정환', '이성연', '이유덕', '이재영', '전경헌', '최승혁']